<!DOCTYPE html>
<html lang="ja"></html>
<meta charset="utf-8">
<head>
    <title>IPPUN-GRANPRI</title>
</head>
<body>
    <h1>IPPUN-GURANPURI</h1>

    <p>ようこそお越しくだいました。<br>
    このアプリはかの人気テレビ番組、IPP⚪️Nグランプリをパクって作ったパーティー用のものです。　<br>
    友達同士で、宴会や暇つぶしなどに是非とも使っていいただきたいと考えております。
    <br>
    <br>

    皆様にはこれから、一枚の画像を見てもらい、その画像に合った面白い言葉を考えてもらいます<br>
    即興性、発想力、対応力などなど様々な笑いの要素が試されます。<br>
    秀逸な回答を期待しております。
    </p>

   

<div class = "footer">
    <small class="copyrights">©2020 P's self web app workshop.</small>
</div>
</body>
</html>